.portfolio-details {
  // height: 655px;
  padding-top: 20px;
  padding-bottom: 40px;
  a {
    color: #18d26e;
  }

  .row {
    width: 100%;

    @media (max-width: 1300px) {
      margin: 0 auto;
    }

    @media (max-width: 1140px) {
      // margin: 0 70px;
      flex-direction: column;
    }

    .portfolio-slider {
      flex: 0 0 66.666667%;
      max-width: 66.666667%;

      @media (max-width: 1140px) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .slider-items {
        @media (max-width: 1140px) {
          height: 400px;
          overflow: hidden;
        }
      }

      .slick-slide {
        outline: none;
      }

      .slick-arrow {
        display: none !important;
      }

      .slick-dots {
        margin-top: 5px;
        text-align: center;
        li {
          display: inline-block;
          button {
            cursor: pointer;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.3);
            margin: 0 5px;
            color: transparent;
            outline: none;
            border: none;
          }
        }

        .slick-active {
          button {
            background-color: #18d26e;
          }
        }
      }
    }

    .portfolio-info {
      margin-left: 30px;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;

      ul {
        li {
          a {
            @media (max-width: 576px) {
              font-size: 14px;
              display: block;
            }
          }
        }
      }

      @media (max-width: 1140px) {
        margin-left: 0;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }

  .portfolio-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .portfolio-info {
    padding-top: 45px;

    h3 {
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    ul {
      li + li {
        margin-top: 10px;
      }
    }

    p {
      font-size: 15px;
      padding: 15px 0 0 0;
    }
  }
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}
